.sideBtn {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 10px;
  margin: 10px 0;
}

.sideBtn:hover {
  background-color: var(--twitter-bgColor);
  border-radius: 30px;
  transition: color 100ms ease-out;
}

.sideBtn:hover,
.sideBtn--active {
  color: var(--twitter-color);
}
.sideBtn > .MuiSvgIcon-root {
  padding-right: 20px;
}

.sideBtn > h3 {
  font-weight: 700;
}
