.btnWithHover {
  color: var(--twitter-color);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 8px;
}

.btnWithHover:hover {
  background-color: var(--twitter-bgColor);
  border-radius: 30px;
  transition: 100ms ease-out;
}
